<!doctype html>
<html ng-app="urlApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#url-list 				{ margin-bottom:30px; }
		#url-form 	 			{ margin-bottom:50px; }
	</style>
</head>
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND URL COUNT -->
        <div class="jumbotron text-center">
            <h1>I'm a URL-Extractor <span class="label label-info">{{ urls.length }}</span></h1>
        </div>

        <div class="alert alert-light" role="alert" ng-show="errorMessage">
            {{ errorMessage.message }}
        </div>

        <!-- FORM TO CREATE URL -->
        <div id="url-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="url" class="form-control input-lg text-center" placeholder="I want to visit..." ng-model="formData.url" >
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createUrl()">Add</button>
                </form>
            </div>
        </div>

        <!-- URL LIST -->
        <div id="url-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
                <div class="checkbox" ng-repeat="url in urls">
                    <label>
                        <input type="checkbox" ng-click="deleteUrl(url.id)"> {{ url.url }}
                    </label>
                </div>
            </div>
        </div>

    </div>
    <script src="/webjars/angularjs/1.3.11/angular.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/services/urls.js"></script>
    <script src="js/core.js"></script>
</body>
</html>